<p id="notice"><%= notice %></p>

<h1>Sprint Roles</h1>

<table class="roles-table">
  <thead>
    <tr>
      <th><%= "Name"%></th>
      <th><%= "Role"%></th>
    </tr>
  </thead>

  <% @roles.each do |r| %>
    <tr>
      <td><%= r.first %></td>
      <td><%= r.last %></td>
    </tr>
  <% end %>
</table>

<h1>Pairing Partners</h1>

<table class="pairs-table">
  <thead>
    <tr>
      <th><%= "Name"%></th>
      <th><%= "Role"%></th>
    </tr>
  </thead>

  <% @pairs.each do |r| %>
    <tr>
      <td><%= r.first %></td>
      <td><%= r.last %></td>
    </tr>
  <% end %>
</table>

<%= button_to 'Update', roles_users_path %>
