<p id="notice"><%= notice %></p>

<div class="users-link">
  <%= link_to "Manage Users", users_path %>
</div>

<div class="roles">
  <h2>Sprint Roles</h2>

  <table>
    <thead>
      <tr>
        <th><%="Name"%></th>
        <th><%="Role"%></th>
      </tr>
    </thead>

    <% @roles.each do |r| %>
      <tr>
        <td><%= r.first %></td>
        <td><%= r.last %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="pairs">
  <h2>Pairing Partners</h2>

  <table>
    <thead>
      <tr>
        <th><%="Pair1"%></th>
        <th><%="Pair2"%></th>
      </tr>
    </thead>

    <% @pairs.each do |r| %>
      <tr>
        <td><%= r.first %></td>
        <td><%= r.last %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>

<div class="update-btn">
  <%= button_to "Update", roles_users_path, class: "roles-btn" %>
</div>
